/* Definindo variáveis de cor */
:root {
  --primary-color: #1e87ff;
  --primary-text-color: #333;
  --secondary-text-color: #fff;
  --background-color: #f0f0f0;
  --border-color: #ccc;
  --highlight-color: #eee;
  --primary-blue: #1e87ff;
  --primary-gray: #f0f0f0;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, var(--primary-blue) 0%, var(--primary-blue) 20%, var(--primary-gray) 60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
}

/* Estilos globais */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
}

h1 {
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: bold;
  color: var(--primary-text-color);
  text-align: center; /* Centraliza o texto do título */
  word-wrap: break-word; /* Garante que o texto vai quebrar corretamente em linhas menores */
}

input {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 150px;
  height: auto;
}
